<!-- 
<div id="container">

   <% if (flash[:notice]) %>
      <div id = "flashContainer">
          <%= flash[:notice] %>
          <% flash[:notice] = nil %>
      <% end %>
    </div>

    <div id="formContainer">
     
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
 <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' ,:placeholder =>'email'%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field',:placeholder=>'password' %>
    </div>
  </div>
  
  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div class="form-actions">
    <%= f.submit 'sign in', :class => 'btn btn-primary' %>
  </div>
<% end %>
<%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with vinsol account",ession_path(resource_name, provider) %><br />
  <% end -%>
</div>

 -->