    <li class="active drafted"><%= link_to "Drafted" ,drafted_vouchers_path(params) ,:remote=>true,:class=>"drafted"%></li>
    <li class="pending"><%= link_to "Pending" ,pending_vouchers_path(params) ,:remote=>true,:class=>"pending"%></li>
    <li class="approved"><%= link_to "Approved" ,approved_vouchers_path(params),:remote=>true,:class=>"approved"%></li>
    <li class="accepted"><%= link_to "Accepted" ,accepted_vouchers_path(params),:remote=>true ,:class=>"accepted"%></li>
    <li class="rejected"><%= link_to "Rejected" ,rejected_vouchers_path(params) ,:remote=>true,:class=>"rejected"%></li>