    <!-- <li class="active drafted"><%= link_to "Drafted" ,vouchers_drafted_path(params) ,:lass=>"drafted"%></li>
    <li class="pending"><%= link_to "Pending" ,vouchers_pending_path(params) ,:class=>"pending"%></li>
    <li class="approved"><%= link_to "Approved" ,vouchers_approved_path(params),:class=>"approved"%></li>
    <li class="accepted"><%= link_to "Accepted" ,vouchers_accepted_path(params),:class=>"accepted"%></li>
    <li class="rejected"><%= link_to "Rejected" ,vouchers_rejected_path(params) ,:class=>"rejected"%></li> -->