 <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, admin_user_path(user) %></td>
        <td><%= user.first_name + " " + user.last_name %></td>
        <td><%= user.email %></td>
        <td>
          <% if user.user_type == "normal" %>
            <%= "User" %>
          <%else%>
            <%= user.user_type%>     
          <%end%>
        </td>
        <td>
          <%= link_to "Edit", edit_admin_user_path(user), :class => 'btn btn-mini btn-primary' %>
          <%= link_to "Destroy", admin_user_path(user),:method => :delete,:data => { :confirm => "Are u Sure" },:class => 'btn btn-mini btn-danger' %>
          <%= link_to "vouchers",user_vouchers_path(user), :class => 'btn btn-mini btn-primary' %>
        </td>
      </tr>
    <% end %>