<%= form_for @account, :html => { :class => 'form-horizontal', :html => { :multipart => true }} do |f| %>
<%= render "shared/error_messages", :target => @account %>   
  <div class="account_align">
    <fieldset>
      <% if @account.new_record? %>
        <legend>New Account</legend>
      <%else%>
        <legend> Edit Account</legend>
      <%end%>
      <div class="control-group">
        <%= f.label :name, "Name",:class => 'control-label compulsory-field' %>
        <div class="controls">
          <%= f.text_area :name, :rows=>4,:columns=>8%>
        </div>
      </div>
      <div class="form-actions ">
        <%= f.submit nil, :class => 'btn btn-primary' ,:remote=>true%>
        <%= link_to "Cancel", accounts_path ,:class => 'btn btn-primary '%>
      </div>
    <% end %>
  </fieldset>
</div>