<%= form_for @account, :html => { :class => 'form-horizontal', :html => { :multipart => true }} do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>

      </ul>
    </div>
  <% end %>   
  <div class="account_align">
    <fieldset>
      <% if @account.new_record? %>
        <legend>New Account</legend>
      <%else%>
        <legend> Edit Account</legend>
      <%end%>
      <div class="control-group">
        <%= f.label :name, "Name",:class => 'control-label compulsory-field' %>
        <div class="controls">
          <%= f.text_area :name, :rows=>4,:columns=>8 %>
        </div>
      </div>
      <div class="form-actions ">
        <%= f.submit nil, :class => 'btn btn-primary' ,:remote=>true%>
        <%= link_to "Cancel", accounts_path ,:class => 'btn btn-primary '%>
      </div>
    <% end %>
  </fieldset>
</div>