<%- model_class = Account -%>
<div class="page-header">
<h3> Accounts </h3>
</div>
<div class="new_button">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_account_path,
            :class => 'btn new_button btn-primary' %>
</div>
<table class="table table-striped accountss">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
   <% @accounts.each do |account| %>
      <tr>
        <!--   -->
        <td><%= link_to account.name, account_path(account) %></td>
   
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_account_path(account), :class => 'btn btn-mini btn-primary' %>
         
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
 <div id="paginator">
 
 <%=paginate @accounts, :remote => true %>
  </div>
