<%= form_tag increment_state_voucher_path(:id => @voucher) do %>
  <div class ="assignment onprint">
    <div class="control-group">    
      <div class="controls dropDown">
        <%= select_tag 'voucher[assignee_id]', options_for_select(user_options )%>
      </div>
    </div>
    <div class="actions approval_button">
      <div class="actions">
        <%if @voucher.can_be_edited?(current_user) %>
          <%= submit_tag "Send For Approval", :class=>'btn btn-primary assign' %>
        <%else%>
        <div >
            <%= submit_tag "Approve", :class=>'btn btn-primary assign submit_accepted'%>
        </div>
        <div class ="Or_label">
          <%=" OR "%>
        </div>
        <%= link_to "Reject ", decrement_state_voucher_path(id: @voucher), :class=>'btn btn-primary btn-danger assignn submit_accepted', method: :post, data: { confirm: "Voucher ##{@voucher.id} will be rejected and assigned back to  #{@voucher.creator.name}.Press OK to continue " }  %>
       <%end%>
      </div>
    </div>
  </div>
<% end %>