<tr></tr>
<%= tag("tr", data: {id: @voucher.id} ,:class => "show_details hidden" )%>
<td class ="upper"> 
  #<%= @voucher.id %>
</td>
<td class="date">
  <%= @voucher.date.to_s(:string_format) %>
</td>
<td class="lower">
  DEBIT 
</td>
<td class="lower">
  <% @voucher.debit_from.each_with_index do |debit, index| %>
    <%= link_to debit.name, account_vouchers_path(getaccount(debit)),:class=>'debit_credit'%>
    <strong><%=" - ₹ " + @voucher.debited_transactions[index].amount.to_s  %><br></strong>
  <%end%>
</td>
<td class="lower">
  CREDIT 
</td>
<td class="lower">
  <% @voucher.credit_to.each_with_index do |credit, index| %>
    <%= link_to credit.name, account_vouchers_path(credit), :class=>'debit_credit'%>
    <strong><%=" - ₹ " + @voucher.credited_transactions[index].amount.to_s  %><br></strong>
  <%end%>
</td>
<td class="amount">
  Amount :  <%= number_to_currency(@voucher.amount, :unit => "₹  ") %>
</td>
<td width="40px"></td>
<% if @voucher.to_date %>
  <td  class="paymentmode"> 
    From : <%= @voucher.from_date.to_s(:normal_format) %>  To : <%= @voucher.to_date.to_s(:normal_format) %>
  </td>
<%end%>
</tr>
