<%@count = 0%>
<div class ="error_messages">
</div>
<div class="voucher_div">
  <div class ="voucher_form">
    <%= form_for @voucher, :html => { :class => 'voucher_autocomplete form-horizontal one_click', :html => { :multipart => true  } } , :remote =>  true do |f| %>
       
      <legend><%= controller.action_name.capitalize %> voucher</legend>
      <div>
        <div class="labell">
        <%= f.label :date, :class => 'compulsory-field' %>
      </div>
        <div class="contentt">
          <%= f.text_field :date, :class => 'date-field ', :value => (@voucher.date.presence || Date.today.to_s(:normal_format))  %>
        </div>
      </div>
      <div>
        <div class="labell debit">
        <%= f.label :account_debited, "Debit To", :class => 'compulsory-field' %>
      </div>
      
      <%position = 0%>
      <% remove_counter = 0 %>
      <%= f.fields_for :transactions do |builder| %>
        <% if @voucher.new_record? %>
          <%= render :template => 'vouchers/_transaction_fields', locals: {:@transaction_type => "debit", :@remove_counter => remove_counter, :@count => @count, :f => builder } %>
          <%@count += 1 %>
        <%elsif builder.object.transaction_type == "debit" && !@voucher.new_record? %> 
          <%= render :template => 'vouchers/_transaction_fields', locals: {:@transaction_type => "debit", :@position => position, :@count => @count, :@remove_counter => remove_counter, :f => builder } %>
          <% position = position + 1 %>
        <%end%>
           <% @count += 1 %>
      <%end%>
    </div>
      <div class =" add_more_uploads radioBox ">
        <br/>
        <%= link_to_add_fields "Add another debit account", f, :transactions, @count%>
      </div>
      <div class= "update_amount_debited"></div>
      <hr>
      <div>
        <div class="labell credit">
          <%= f.label :account_credited, "Credit  From", :class => 'compulsory-field' %>
        </div>
        <% position = 0 %>
        <% remove_counter = 0 %>
        <%= f.fields_for :transactions do |builder| %>
          <% if @voucher.new_record? && builder.object.transaction_type != "dedit" %>
            <%= render  :template => 'vouchers/_transaction_fields', locals: {:@transaction_type => "credit",  :@remove_counter => remove_counter,  :@count => @count, :f => builder } %>
         
            <% remove_counter = remove_counter + 1 %>
          <%elsif builder.object.transaction_type == "credit" && !@voucher.new_record? %>
            <%= render  :template => 'vouchers/_transaction_fields', locals: {:@transaction_type => "credit", :@position => position,  :@count => @count,:@remove_counter => remove_counter,  :f => builder} %>

            <%position = position + 1 %>
          <%end%>
             <% @count += 1 %>
        <%end%>
      </div>
      <div class =" add_more_uploads radioBox">
        <br/>
        <%= link_to_add_fields "Add another credit account", f, :transactions, @count %>
      </div>
      <div class= "update_amount_credited"></div>
      <hr>
      <div>
        <div class="labell">
        <%= f.label :from_date,"From Date"%></div>
        <div class="contentt">
          <%= f.text_field :from_date, :class => 'date-field', :value => set_date('from') %>
        </div>
      </div>
      <div>
        <div class="labell">
        <%= f.label :to_date, "To Date " %></div>
        <div class="contentt">
          <%= f.text_field :to_date, :class => 'date-field', :value => set_date('to') %>
        </div>
      </div>
      <div class="radioBox addFields">
        <% counter = 0 %>
        <%= f.fields_for :attachments do |builder| %>
          <p class ="link radioBox controls">
            <%if @voucher.new_record? %>
              <%= builder.file_field :bill_attachment %>
              <span class="file_remove"><%= link_to_remove_fields "X" , builder %><span>
              <p class ="radioBox link controls tagname">
                <%= builder.text_field :tagname, :class => "filename", placeholder: "caption" %>
              </p>
            <%else%>
              <%= link_to ( @voucher.attachments[counter].tagname.presence || @voucher.attachments[counter].bill_attachment_file_name) , download_attachment_path(@voucher.attachments[counter]), :target => "_blank", :class => 'voucher_placing file-upload'%>
              <span class="file_remove"><%= link_to_remove_fields "X", builder %></span>     
            <%end%>            
            <% counter += 1 %>
          <% end %>
        </p>
      </div>
      <div  class ="radioBox addFields fileFields">
        <%= link_to_add_fields "Add Another File", f, :attachments, @count %>
      </div>  
      <div>
        <div class = "labell">
        <%= f.label :tag_list, "Tags (separated by comma's )" %></div>
        <div class="contentt">
         <%= f.text_field :tag_list, :class=>"tag", data: {path: tags_path(:json)}%>
        </div>
      </div> 
      <div>
      <div class="labell">
        <%= f.label :description, "Description" %></div>
        <div class="contentt">
          <%= f.text_area :description, :rows => 3, :columns => 8 %>
        </div>
      </div>
      <div>
        <%#= f.fields_for :comments do |builder| %>
          <%# if(builder.object.user_id == current_user.id ) || @voucher.new_record? %> 
            <%#= render 'comment_fields', :f => builder %>
          <%#end%>
        <%# end %>
        <% #if !@voucher.new_record? %>
          <div class ="radioBox comment_fields ">
            <%#= link_to_add_fields "Add comments", f, :comments %>
          </div>
        <%#end%>
      </div>
      <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary submit voucher_submit' %>
        <%= link_to "Cancel", :back, :class => 'btn btn-primary cancel '%>
      </div>
    <%end%>
  </div>
</div>