<div class ="voucher_form">
  <%= form_for @voucher, :html => { :class => 'form-horizontal', :html => { :multipart => true }} do |f| %>
  <% if @voucher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voucher.errors.count, "error") %> prohibited this voucher from being saved:</h2>

      <ul>
      <% @voucher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>

      </ul>
    </div>
  <% end %>   
  <legend> Voucher Details</legend>
    <div class="control-group">
      <%= f.label :date, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :date, :class => 'date-field',:value => Date.today  %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :account_debited, "Debit From *",:class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :debit , params[:debit],  data: { hidden_field_id: 'voucher_account_debited',  textbox_id:'debit'} , :class => 'text-field autocomplete',:value =>get_entered_data('debit')%>
    </div>
  </div>
  <div class="controls">
      <%=  f.hidden_field :account_debited %>
  </div>
  <div class="control-group">
    <%= f.label :account_credited, "Credit To *",:class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :credit, params[:credit] , data: {hidden_field_id: 'voucher_account_credited', textbox_id: 'credit'} , :class => 'text-field autocomplete',:value=>get_entered_data('credit')%>
    </div>
  </div>
  <div class="controls">
    <%=f.hidden_field :account_credited %>
  </div>
  <div class="control-group">
    <%= f.label :from_date,"From Date", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :from_date, :class => 'date-field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :to_date, "To Date ", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :to_date, :class => 'date-field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :payment_type,"Payment Mode *", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :payment_type, Voucher::PAYMENT_TYPES ,prompt: "Select payment mode" ,:class => 'text_field' %>
    </div>
  </div>
  <div class ="control-group select hidden">
    <%= f.label :payment_reference, "Cheque/Credit/Bank Reference No *", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :payment_reference, :class => 'text-field'%>
    </div>
  </div>
    <div class="control-group radioBox addFields">
      <% @counter = -1 %>
      <%= f.fields_for :uploads do |builder| %>
      <% @counter += 1 %>
        <%=render 'upload_fields' ,:f=>builder %>

      <% end %>
    </div>


    <div class =" add_more_uploads radioBox addFields ">
      <%= link_to_add_fields "Add more files", f, :uploads %>
    </div>
 
  <div class="control-group">
    <%= f.label :amount, "Amount *",:class => 'control-label' %>
    <div class="controls">
       <%= f.text_field :amount, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.fields_for :comments do |builder| %>
         <% if(builder.object.user_id == current_user.id ) %>
        <%= builder.label :comments ,"comments",:class=>'control-label' %>
         <div class="controls">
          <%= builder.text_area :description,:cols => 80, :rows => 5 ,placeholder: 'Enter your comment..'%>
         </div>
        <div class="controls">
          <%= builder.hidden_field :user_id%>
        </div>
        <%end%>
      <% end %>
    </div>   
    <div class="form-actions ">
      <%= f.submit nil, :class => 'btn btn-primary'%>
    </div>
  <%end %>
</div>