<% string =[] %>
<% if params[:from].present? || params[:to].present?%>
   <% if @vouchers.present? %>
    <%@vouchers.each do |voucher| %>
      <% if voucher.drafted? %>
        <% if voucher.creator_id == current_user.id %>
          <% string << voucher.id %>
        <%end%>
      <% else %>
        <% string << voucher.id %>
      <%end%>
    <%end%>    
  <%else %>
    <%# @vouchers_all = get_by_date("", params[:from], params[:to], (params[:account].presence || " "), (params[:transactions_type].presence || " " ), (params[:tag].presence || " ")) %>
    <%@vouchers.each do |voucher| %>
      <% if voucher.drafted? %>
        <% if voucher.creator_id == current_user.id %>
          <% string << voucher.id %>
        <%end%>
      <% else %>
        <% string << voucher.id %>
      <%end%>
    <%end%>
  <%end%>
  <%end%>
<% if params[:query].present?%>
  <% if @vouchers.present? %>
    <% @vouchers.each do |voucher| %>
      <% string << voucher.id %>
    <%end%>
  <%end%>  
  <div class ="printing">
      <%= link_to "Print " + string.size.to_s + " vouchers",'#' , :class => 'btn btn-primary print_vouchers onprint', data: { name: string, url: print_vouchers_path } %> 
</div>
<%end%>

<div class = "account_vouchers" >
  <div class="header_spacing ">
  </div>
  <% if params[:from].present? || params[:to].present?%>
    <div class ="print_voucher_report">
      <%= link_to "Printing " + @vouchers.size.to_s +  " " + (@vouchers.present? ? @vouchers.first.workflow_state : default_tab) + " vouchers" ,'#' , :class => 'btn btn-primary print_vouchers onprint', data: { name: string, url: print_vouchers_path } %> 
    </div>
    <%end%>
  <% if @vouchers.count > 0 %>
    <table class="table table-striped account_vouchers">
      <thead>
        <tr>
          <th width= "3%"><%= "Id" %></th>
          <th width= "23%"><%= "Debit" %></th>
          <th width= "23%"><%= "Credit" %></th>
          <th width= "10%"><%= "Date" %></th>
          <th width= "10%"><%= "Total Amount" %></th>
          <th width= "8%"><%= "Assigned" %></th>
          <th width= "8%"><%= "State" %></th>
          <th width= "15%"><%= "Actions" %></th>
        </tr>
      </thead>
      <tbody>
        <%#cache @vouchers do %>
          <% @vouchers.each do |voucher| %>
            <%# cache voucher do %>
              <tr>
                <td>
                  <%= link_to voucher.id, voucher_path(voucher) %>
                </td>
                <td>
                  <% voucher.debit_from.each_with_index do |debit, index| %>
                    <%= link_to debit.name, account_vouchers_path(debit)%>
                    <strong><%=" - ₹ " + voucher.debited_transactions[index].amount.to_s  %><br></strong>
                  <%end%>
                </td>
                <td>
                  <% voucher.credit_to.each_with_index do |credit, index| %>
                     <%= link_to credit.name, account_vouchers_path(credit)%>
                      <strong><%=" - ₹ " + voucher.credited_transactions[index].amount.to_s  %><br></strong>
                  <%end%>
                </td>
                <td>
                  <%= voucher.date.to_s(:string_format)%>
                </td>
                <td>
                  <%= number_to_currency(voucher.amount, :unit => "₹  ") %>
                </td>
                <% if voucher.assignee.nil? %>
                  <td> <%=" "%></td>
                <%else%>
                  <td><%= link_to voucher.assignee.first_name, user_vouchers_path(voucher.assignee)%></td>
                <%end%>
                <td><%= voucher.workflow_state%></td> 
                <td>
                  <%# if voucher.can_be_edited?(current_user) %>
                    <%= link_to "Edit", edit_voucher_path(voucher), :class => 'btn btn-mini btn-primary', 'data-no-turbolinks' => true %>
                    <%= link_to "Delete", voucher_path(voucher), :method => :delete, :data => { :confirm => 'Are you sure  you want to delete voucher #' + voucher.id.to_s}, :class => 'btn btn-mini btn-danger' %>
                  <%#end%>
                  <%= link_to "Details", voucher_path(voucher), :class => 'btn btn-mini btn-primary' %>
                  <%# if voucher.accepted? && voucher.assignee?(current_user) %>
                    <%#= link_to "Archive", increment_state_voucher_path(id: voucher.id, voucher: {assignee_id: current_user.id}), :class=>'btn btn-mini btn-primary', method: :post %>
                  <%#end%>
                  <%# if voucher.archived? %>
                    <%#= tag("span", data: {name: voucher.id}, class: "btn btn-mini btn-primary shows")%>
                    <%#= render :partial => 'vouchers/details', locals: {:@voucher => voucher} %>
                  <%#end%>
                </td>
              </tr>
            <%end%>
           
          <%# end %> 
        <%#end%>
      </tbody>
    </table>
    <%= paginate @vouchers %>
    <%else%>
      <% if params[:query].present?%>
        <div class="results">
          <h4> No results found !! </h4>
        </div>
      <%end%>


  <%end%>

</div>