<div class = "span9  associated_voucher">
  <ul class="nav nav-tabs">
  	<li class="active drafted"><%= link_to "Drafted" ,drafted_vouchers_path(from: start_date.to_date ,to: end_date.to_date) ,:remote=>true%></li>
    <li class="pending"><%= link_to "Pending" ,pending_vouchers_path(from: start_date.to_date ,to: end_date.to_date) ,:remote=>true%></li>
    <li class="approved"><%= link_to "Approved" ,approved_vouchers_path(from: start_date.to_date ,to: end_date.to_date) ,:remote=>true%></li>
    <li class="accepted"><%= link_to "Accepted" ,accepted_vouchers_path(from: start_date.to_date ,to: end_date.to_date),:remote=>true%></li>
    <li class="rejected"><%= link_to "Rejected" ,rejected_vouchers_path(from: start_date.to_date ,to: end_date.to_date) ,:remote=>true%></li>
    <div class="voucher_status">
      <%= render :template => 'vouchers/_vouchers' , locals: { :@vouchers=> get_new_by_date(Date.today.beginning_of_month(),Date.today.end_of_month())}  %>
    </div>
  </ul>
</div>