<% string =[] %>
<% if params[:from].present? || params[:to].present?%>
   <% if @vouchers.present? %>
    <%@vouchers.each do |voucher| %>
      <% if voucher.drafted? %>
        <% if voucher.creator_id == current_user.id %>
          <% string << voucher.id %>
        <%end%>
      <% else %>
        <% string << voucher.id %>
      <%end%>
    <%end%>    
  <%else %>
     <%@vouchers.each do |voucher| %>
      <% if voucher.drafted? %>
        <% if voucher.creator_id == current_user.id %>
          <% string << voucher.id %>
        <%end%>
      <% else %>
        <% string << voucher.id %>
      <%end%>
    <%end%>
  <%end%>
  <%end%>
<% if params[:query].present?%>
  <% if @vouchers.present? %>
    <% @vouchers.each do |voucher| %>
      <% string << voucher.id %>
    <%end%>
    <div class ="printing">
      <%= link_to "Print " + string.size.to_s + " vouchers",'#' , :class => 'btn btn-primary print_vouchers onprint', data: { name: string, url: print_vouchers_path } %> 
    </div>
  <%end%>  
<%end%>

<div class = "account_vouchers" >
  <div class="header_spacing ">
  </div>
  <% if params[:from].present? || params[:to].present?%>
    <% if @vouchers.present? %>
    <div class ="print_voucher_report pull-right margin-top">
      <%= link_to "Printing " + @vouchers.size.to_s +  " " + @vouchers.first.workflow_state  + " vouchers" ,'#' , :class => 'btn btn-primary print_vouchers onprint', data: { name: string, url: print_vouchers_path } %> 
    </div>
    <%end%>
    <%end%>
  <% if @vouchers.count > 0 %>
    <br><table class="table table-striped account_vouchers bordered">
      <thead>
        <tr>
          <th><%= "Id" %></th>
          <th><%= "Debit" %></th>
          <th><%= "Credit" %></th>
          <th><%= "Date" %></th>
          <th><%= "Total" %></th>
          <th><%= "Assigned" %></th>
          <th><%= "State" %></th>
          <th><%= "Actions" %></th>
        </tr>
      </thead>
      <tbody>
     
      <% @vouchers.each do |voucher| %>
          <tr>
            <td>
              <%= link_to voucher.id, voucher_path(voucher) %>
            </td>
            <td>
              <% voucher.debited_transactions.each do |debit| %>
                <%= link_to debit.account.name, account_vouchers_path(debit.account) %> -
                <%= number_to_currency(debit.amount, :unit => "₹  ") %><br>
              <%end%>
            </td>
            <td>
              <% voucher.credited_transactions.each do |credit| %>
                <%= link_to credit.account.name, account_vouchers_path(credit.account) %> -
                <%= number_to_currency(credit.amount, :unit => "₹  ") %><br>
              <%end%>
            </td>
            <td>
              <%= voucher.date.to_s(:string_format)%>
            </td>
            <td>
              <%= number_to_currency(voucher.amount, :unit => "₹  ") %>
            </td>
            <% if voucher.assignee.nil? %>
              <td> <%=" "%></td>
            <%else%>
              <td><%= link_to voucher.assignee.first_name, user_vouchers_path(voucher.assignee)%></td>
            <%end%>
            <td><%= voucher.workflow_state%></td> 
            <td>
              <%= link_to "Edit", edit_voucher_path(voucher), :class => 'btn btn-mini btn-warning', 'data-no-turbolinks' => true %>
              <%= link_to "Delete", voucher_path(voucher), :method => :delete, :data => { :confirm => 'Are you sure  you want to delete voucher #' + voucher.id.to_s}, :class => 'btn btn-mini btn-danger' if voucher.destroyable_by?(current_user) %>
              <%= link_to "Details", voucher_path(voucher), :class => 'btn btn-mini btn-primary' %>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
    <%= paginate @vouchers %>
  <%else%>
    <% if params[:query].present?%>
      <div class="results">
        <h4> No results found !! </h4>
      </div>
    <%end%>
  <%end%>
</div>