<div class="all_vouchers">
<div class="new_button">
<%= link_to "New",new_voucher_path,:class => 'btn new_button btn-primary' ,"data-no-turbolink" => true%>
</div>
</div>

<div class = "span9  associated_voucher all_vouchers">
  <ul class="nav nav-tabs">
  	<li class="active drafted"><%= link_to "My Draft" ,drafted_vouchers_path(user_id: current_user.id) ,:remote=>true%></li>
    <li class="pending"><%= link_to "Pending" ,pending_vouchers_path ,:remote=>true%></li>
    <li class="approved"><%= link_to "Approved" ,approved_vouchers_path,:remote=>true%></li>
    <li class="accepted"><%= link_to "Accepted" ,accepted_vouchers_path,:remote=>true%></li>
    <li class="rejected"><%= link_to "Rejected" ,rejected_vouchers_path ,:remote=>true%></li>
    <div class ="voucher_status">
      <%= render :template => 'vouchers/_vouchers' , locals: {:@vouchers => current_user.vouchers.New.order('updated_at desc').page(params[:page]).per(10)}  %>
     </div>
  </ul>
</div>
