
<div class = " outer_block">
	<div class="outer_container">
		<div class="voucher_content">
			<div  class ="voucher_heading"><%=@vouchers.present? ? "Vouchers assigned to Me(" + @vouchers.count.to_s + ")" : "No Vouchers Assigned" %></div>
		  	<% @vouchers.each do |voucher| %>
		  	<div class="assigned_vouchers">
			  	<div class = "voucher_id"> 
			  	  <div class="voucher_label">Id </div>
			  	  <div class="voucher_contents"><%= voucher.id %></div>
			  	</div>
			  	<div class = "voucher_debit"> 
			  	  <div class="voucher_label">Debit</div>
			  	  <div class="voucher_contents"> 
			  	    <% voucher.debit_from.each do |debit| %>
                <%=debit.name%>
                <strong><%=" - ₹ " + voucher.transactions.where(account_id: debit.id).where(account_type: "debit").first.amount.to_s  %><br></strong>
              <%end%>
            </div>
			    </div>
			    <div class = "voucher_credit"> 
			      <div class="voucher_label">Credit</div>
			  	  <div class="voucher_contents">
			  	  	<% voucher.credit_to.each do |credit| %>
                <%=credit.name%>
                <strong><%=" - ₹ " + voucher.transactions.where(account_id: credit.id).where(account_type: "credit").first.amount.to_s  %><br></strong>
              <%end%>
            </div>
			    </div>
			    <div class = "voucher_amount">
			    	<div class="voucher_label">Amount</div>
			    	<div class="voucher_contents">
			    	  <% @sum = 0 %>
              <%voucher.transactions.where(account_type: "debit").each do |voucher| %>
                <% @sum += voucher.amount %>
              <%end%> 
        			<%= number_to_currency(@sum, :unit => "₹  ") %>
        		</div>
			    </div>
			    <div class="voucher_state">
			    	<div class="voucher_label">State</div>
			    	<div class="voucher_contents"><%= voucher.workflow_state%> </div>
			    </div>
		    </div>
		  <%end%>
		</div>
	</div>	
	<div id="tag_cloud">
		<div class = "voucher_heading"> Tags </div>
		<div class="voucher_tags">
			<% tag_cloud Voucher.tag_counts, %w{s m l v} do |tag, css_class| %>
			<div class ="tagname">
    		<%= link_to tag.name, tag_path(URI::escape tag.name), class: css_class%></div>
  		<% end %>
 		</div>
	</div>
	<div id= "voucher_count">
		<div class = "voucher_heading"> Voucher Status </div>
		<div class="voucher_count">
			<div class="vouchers">
				<div class="voucher_label"><%= link_to "Drafted", drafted_vouchers_path, "data-no-turbolink" => true %></div>
				<div class="voucher_contents"> <%= Voucher.drafted.where(creator_id: current_user.id).count %></div>
			</div>
			<div class="vouchers">
				<div class="voucher_label"><%= link_to "Pending", pending_vouchers_path, "data-no-turbolink" => true%></div>
				<div class="voucher_contents"> <%= Voucher.pending.count %></div>
			</div>
			<div class="vouchers">
				<div class="voucher_label"><%= link_to "Approved", approved_vouchers_path, "data-no-turbolink" => true%></div>
				<div class="voucher_contents"> <%= Voucher.approved.count %></div>
			</div>
			<div class="vouchers">
				<div class="voucher_label"><%= link_to "Accepted", accepted_vouchers_path, "data-no-turbolink" => true%></div>
				<div class="voucher_contents"> <%= Voucher.accepted.count %></div>
			</div>
			<div class="vouchers">
				<div class="voucher_label"><%= link_to "Rejected", rejected_vouchers_path, "data-no-turbolink" => true%></div>
				<div class="voucher_contents"> <%= Voucher.rejected.count %></div>
			</div>
			<div class="vouchers">
				<div class="voucher_label"><%= link_to "Archived", archived_vouchers_path, "data-no-turbolink" => true%></div>
				<div class="voucher_contents"> <%= Voucher.archived.count %></div>
			</div>
		</div>
	</div>
</div>