<div class="page-header">
   <%if @vouchers.present? %>
    <% if controller.action_name == "waiting_for_approval" %>
   
  <h3>Here are the vouchers assigned to you </h3>
  <%else%>
  <h3><%=controller.action_name.titleize%></h3>
  <%end%>
</div>
<table class="table table-striped voucherss">
  <thead>
    <tr>
      <th width = "5%"><%= "Id" %></th>
      <th width= "20%"><%= "Debit" %></th>
      <th width= "20%"><%= "Credit" %></th>
      <th width= "10%"><%= "Date" %></th>
      <th width= "10%"><%= "Amount" %></th>
      <th width= "10%"><%= "Assigned" %></th>
      <th width= "10%"><%= "State" %></th>
      <th width = "15%"><%= "Actions" %></th>
    </tr>
  </thead>
  <tbody>



    <% @vouchers.each do |voucher| %>
      <tr>
        <td><%= link_to voucher.id, voucher_path(voucher) %></td>
        <td class="account_name"><%= link_to voucher.debit_from.name,account_path(getAccount(voucher.account_debited)),:class=>'debit_credit' %></td>
        <td class="account_name">
          <% if voucher.credit_to != nil %>
            <%= link_to voucher.credit_to.name, account_path(getAccount(voucher.account_credited)),:class=>'debit_credit' %>
           <%end%>
        </td>
        <td><%= format_date(voucher.date)%></td>
        <td><%= number_to_currency(voucher.amount,:unit=> "₹ ")%></td>
        <% if voucher.assigned_to.nil? %>
        <td> <%=" "%>
        <%else%>
        <td><%= voucher.assigned_to.first_name%></td>
          <%end%>
         <td><%= voucher.workflow_state%></td>
         <td>
          <% if voucher.creator_id == current_user.id && (voucher.current_state == :new || voucher.current_state == :rejected) %>
          <%= link_to "Edit",edit_voucher_path(voucher), :class => 'btn btn-mini btn-primary' %>
          <%= link_to "Delete",voucher_path(voucher),:method => :delete,:data => { :confirm => 'Are you sure?'},:class => 'btn btn-mini btn-danger' %>
          <%end%>
          <%= link_to "Details",voucher_path(voucher), :class => 'btn btn-mini btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%=paginate @vouchers%>
<%else%>
  <% if controller.action_name == "waiting_for_approval" %>
 <h3> No vouchers assigned </h3>
 <%else%>
 <h3> No <%= controller.action_name.titleize %></h3>
 <%end%>
<%end%>