<%if params[:tag].present? %>
  <h3> Vouchers with tag: <%= params[:tag] %> </h3>
<%end%>
    <% params[:page] = 1 %>
<% actions = ['index' ,'all','show', 'pending','accepted','rejected','drafted','approved']%>
<% if actions.include?(controller.action_name) && params[:controller] == 'vouchers' && params[:user_id].nil? && params[:account_id].nil? && params[:to].nil?%>
  <div class="all_vouchers">
    <h2>Vouchers </h2>
    <div class="new_button">
      <%= link_to "New",new_voucher_path,:class => 'btn new_button btn-primary' ,"data-no-turbolink" => true%>
    </div>
  </div>
<%end%>
<%if params[:to].present? && params[:from].present? && (controller.action_name != 'report') %>
  <%= render :template => 'vouchers/report_layout', locals: {:to => params[:to] , :from => params[:from]}%>
<%end%>
<%if params[:user_id].present?%>
  <%= render :template => 'users/_layout', locals: {:@user => User.find(params[:user_id])}%>
<%end%>
<% if params[:account_id].present? && controller.action_name != 'show'%>
  <%= render :template => 'accounts/_layout', locals: {:@account=>Account.find(params[:account_id])}%>    
<%end%>
<div class = "span9 associated_voucher">
  <ul class="nav nav-tabs">
    <li class="active drafted"><%= link_to "Drafted" , url_for(params.merge({controller: 'vouchers', action: 'drafted'})),:class=>"drafted",'data-no-turbolink'=> true %></li>
    <li class="pending"><%= link_to "Pending" , url_for(params.merge({controller: 'vouchers', action: 'pending'})),:class=>"pending",'data-no-turbolink'=> true %></li>
    <li class="approved"><%= link_to "Approved" , url_for(params.merge({controller: 'vouchers', action: 'approved'})),:class=>"approved",'data-no-turbolink'=> true %></li>
    <li class="accepted"><%= link_to "Accepted" , url_for(params.merge({controller: 'vouchers', action: 'accepted'})),:class=>"accepted",'data-no-turbolink'=> true %></li>
    <li class="rejected"><%= link_to "Rejected" , url_for(params.merge({controller: 'vouchers', action: 'rejected'})),:class=>"rejected",'data-no-turbolink'=> true %></li>
    <div class="voucher_status">
      <%= render :template => 'vouchers/_vouchers' , locals: { :@vouchers=> @vouchers } %>
    </div>
  </ul>
</div>



