<% if params[:tag].present? %>
  <h3> Vouchers tagged with: <%= params[:tag] %> </h3>
<% elsif params[:to].present? %>
  <%= render :template => 'reports/report_layout', locals: { :to => params[:to], :from => params[:from] } %>
<% elsif params[:user_id].present? %>
  <%= render :template => 'users/_layout', locals: { :@user => get_user(params[:user_id]) }%>
<% elsif params[:account_id].present?%>
  <%= render :template => 'accounts/_layout', locals: { :@account => getaccount(params[:account_id]) } %>  
<% else %>
  <h3>Vouchers </h3>
  <div class="new_button">
    <%= link_to "New", new_voucher_path, :class => 'btn new_button btn-primary', "data-no-turbolink" => true %>
  </div>
<% end %>
<div class = "span9 associated_voucher">
  <ul class="nav nav-tabs">
    <% VOUCHER_STATES.each do |state| %>
      <li class=<%= state %>>
        <%= link_to state + " (" + get_vouchers(state).total_count.to_s + ")", url_for(params.merge({ controller: 'vouchers', action: state, :page => 1 })), 'data-no-turbolink'=> true %>
      </li>
    <%end%>
    <div class="voucher_status">
      <%= render :template => 'vouchers/_vouchers' , locals: { :@vouchers => @vouchers } %>
    </div>
  </ul>
</div>


<script type= "text/javascript">
  $('.associated_voucher li.'+ '<%=session[:previous_tab].presence || "drafted" %>').addClass('active').siblings().removeClass('active')
</script>