
<%string = []%>
<% if params[:from].present? || params[:to].present?%>
   <% if @vouchers.present? %>
    <%@vouchers.each do |voucher| %>
      <% if voucher.drafted? %>
        <% if voucher.creator_id == current_user.id %>
          <% string << voucher.id %>
        <%end%>
      <% else %>
        <% string << voucher.id %>
      <%end%>
    <%end%>    
  <%else %>
    <%# @vouchers_all = get_by_date("", params[:from], params[:to], (params[:account].presence || " "), (params[:transactions_type].presence || " " ), (params[:tag].presence || " ")) %>
    <%@vouchers.each do |voucher| %>
      <% if voucher.drafted? %>
        <% if voucher.creator_id == current_user.id %>
          <% string << voucher.id %>
        <%end%>
      <% else %>
        <% string << voucher.id %>
      <%end%>
    <%end%>
  <%end%>  
  <%= render :template => 'reports/report_layout', locals: { :to => params[:to], :from => params[:from] } %>
  
<% elsif params[:user_id].present? %>
  <%= render :template => 'users/_layout', locals: { :@user => get_user(params[:user_id]) }%>
<% elsif params[:tag].present? %>
  <h3> Vouchers tagged with: <%= params[:tag] %> </h3>
<% elsif params[:account_id].present? %>
  <%= render :template => 'accounts/_layout', locals: { :@account => getaccount(params[:account_id]) } %>  
<% else %>
  <h3>Vouchers </h3>
  <div class="new_button">
    <%= link_to "New", new_voucher_path, :class => 'btn new_button btn-primary', "data-no-turbolink" => true %>
  </div>
<% end %>
<div class = "span9 associated_voucher">
  <ul class="nav nav-tabs">
    <% VOUCHER_STATES.each do |state| %>
      <li class=<%= state %>>
        <%= link_to state.capitalize + " (" + get_vouchers(state).total_count.to_s + ")", url_for(params.merge({ controller: 'vouchers', action: state, :page => 1 })), 'data-no-turbolink'=> true %>
      </li>
    <%end%>

    <div class="voucher_status">
      <%= render :template => 'vouchers/_vouchers' , locals: { :@vouchers => @vouchers, :string => string } %>
    </div>
  </ul>
</div>


<script type= "text/javascript">
  var current_highlighted_tab = '<%=session[:previous_tab].presence || "drafted" %>';
  var object = new VoucherEventsHandler();
  object.tabHiglight(current_highlighted_tab);
</script>