<div class="reports">
<%= form_tag generate_report_path do %>
  <div class = "report">
    <div class="control-group from_date"> 
      <%=label_tag  :from ,"From", :class => 'control-label' %>
      <div class="controls">
        <%= text_field_tag :from , params[:from], :class => 'date-field'  %>
      </div>
    </div>
    <div class="control-group to_date">
      <%=label_tag  :to ,"To", :class => 'control-label' %>
      <div class="controls">
        <%= text_field_tag :to  ,params[:to] ,:class => 'date-field' %>
      </div>
    </div>
    <div class="control-group from_date">
     <%=label_tag  :account_name ,"Account", :class => 'control-label' %>
    <div class="controls">
        <%= text_area_tag :account_name ,getAccount(params[:report_account]),data: { hidden_field_id: 'report_account',  textbox_id:'account_name',path: accounts_path } , :class => 'text-field autocomplete',:rows=>3,:columns=>8%>
      </div>
    </div>
 
        <%= hidden_field_tag :report_account ,params[:report_account]%>
   
    <div class="control-group account_dropdown to_date">
      <%=label_tag  :account_type ,"Type", :class => 'control-label' %>
      <div class="controls">
        <%= select_tag :account_type, options_for_select([['debit'], ['credit']] ,:selected => params[:account_type]),prompt: "Select"%>
      </div>
    </div>
    <div class="display_vouchers">
      <%=submit_tag "Generate Report",:class => 'btn btn-primary' ,:id=> "generate_vouchers"%>
    </div>
  </div>
<%end%>
</div>