<!-- <div class ="alert fade in alert-success onprint">
</div> --> 
<div class ="voucher_display">
  <div class="page-header">
  </div>
  <div class ="content">
    <div class = "voucherId"> 
      <%= @voucher.id %>
    </div>
  </div>
  <div class = "status onprint">
    <%= @voucher.workflow_state.capitalize%>
    <% if @voucher.assignee_id && @voucher.assignee_id != current_user.id%>
      <%= "(" %>
      <%= @voucher.assignee.name %>
      <%= ")"%>
    <%end%>
  </div>
  <div class ="date">
    <%= @voucher.date.to_s(:string_format) %> 
  </div>
  <div class = "separator">
  </div>
  <div class ="column_separator">
    <div class = "debitCredit">
      <div class="labels">Debit
      </div>
      <%= link_to @voucher.debit_from.name , account_path(Account.find(@voucher.debit_from))%>
    </div>
    <div class="debitCredit">
      <div class ="labels">Credit</div> 
      <%= link_to @voucher.credit_to.name  , account_path(Account.find(@voucher.credit_to)) %>
    </div>
    <% if @voucher.to_date %>
    <div class="date_period" >
      <div class ="date_field">From :</div>
        <%= @voucher.from_date.to_s(:string_format) %> 
      <div class="date_field" >To :</div>
        <%= @voucher.to_date.to_s(:string_format) %> 
    </div>
    <%end%>
    <div class = "payment_mode">
      <div class="payment_label">Payment Mode :</div>
      <%= @voucher.payment_type %>
      <% if @voucher.payment_reference.present? %>
      <div class="payment_label">Reference Number :</div>
      <%= @voucher.payment_reference %> 
      <%end%>
    </div> 

      <div class = "edit_voucher onprint">
      <% if @voucher.can_be_edited? && @voucher.creator?(current_user)%>
        <%= link_to "Edit" ,edit_voucher_path(@voucher),:class=>'btn btn-primary',"data-no-turbolink" => true%> 
      <%end%>
    </div>
    <div class ="print_voucher">
      <%= link_to "Print" ,"javascript:print()",:class=>'btn btn-primary onprint'%> 
    </div>
    <div class ="payment">
      <div class="amount"><%= number_to_currency(@voucher.amount,:unit => "₹  ") %>
      </div>
    </div>
    <%if(@voucher.workflow_state == 'approved' && @voucher.assignee_id == current_user.id)%>
    <div class ="final_state onprint">
      <%= link_to "Accept" , increment_state_voucher_path(id: @voucher),:class=>'btn btn-primary',method: :post%>
      <%= link_to "Reject" , decrement_state_voucher_path(id: @voucher), :class=>'btn btn-danger',method: :post,data: {confirm: "Voucher ##{@voucher.id} will be rejected.Press OK to continue "}%>
    </div>
    <%end%>

    <% counter = 0 %>
    <%if @voucher.attachments.length > 0 %>
      <div class ="debitCredit">
        <div class="labels">Bill attachments
        </div>
        <% @voucher.attachments.each do |attachment|  %> 
          <div><%= (counter += 1).to_s+". "%><%= link_to (attachment.bill_attachment_file_name) ,attachment.bill_attachment.url(:original, false),:target => "_blank"%></div>     
             <%end%>
      </div> 
    <%end%>
    <%if @voucher.tag_list.length >0 %>
     <div class="tags">
      Tags:<%=  raw @voucher.tag_list.map {|t| link_to t,  tag_path(URI::escape t),:class=>"taglist"}.join(' ') %>
    </div>
    <%end%>
    <%if !@voucher.approved_by.nil?%>
      <div class="status_label">
        <div class ="approved_by">
          <div>
            <%= @voucher.approved_by_user.name %>
          </div>
          <div class="approved_label">
            <%= "Approved By" %>
          </div>
        </div>
      <%end%>
      <%if !@voucher.accepted_by.nil?%>
        <div class ="accepted_by">
          <div>
            <%= @voucher.accepted_by_user.name%>   
          </div>
          <div class="accepted_label">
            <%= "Accepted By" %>
          </div>
        </div>
      </div>
    <%end%>

  
    
    <% if  (@voucher.workflow_state != 'approved' ||  @voucher.workflow_state == "new") && @voucher.assignee?(current_user) %>
      <%=  render 'assign' %>
    <%end%>

    
    

    <%= render :template => 'comments/_comments', locals: {voucher: @voucher } %>

  </div>
</div>