<!-- <div class ="alert fade in alert-success onprint">
</div> --> 
<div class ="voucher_display">
  <div class="page-header">
  </div>
  <div class ="content">
    <div class = "voucherId"> 
      <%= @voucher.id %>
    </div>
  </div>
  <div class = "status onprint">
    <%= @voucher.workflow_state%>
    <% if @voucher.assignee_id && @voucher.assignee_id != current_user.id%>
      <%= "(" %>
      <%= @voucher.assigned_to.first_name %>
      <%= ")"%>
    <%end%>
  </div>
  <div class ="date">
    <%= format_date( @voucher.date ) %> 
  </div>
  <div class = "separator">
  </div>
  <div class ="column_separator">
    <div class = "debitCredit">
      <div class="labels">Debit
      </div>
      <%= @voucher.debit_from.name %>
    </div>
    <div class="debitCredit">
      <div class ="labels">Credit</div> 
      <%= @voucher.credit_to.name %>
    </div>
    <% if @voucher.from_date %>
    <div class="date_period" >
      <div class ="date_field">From :</div>
      <%= format_date( @voucher.from_date ) %> 
      <div class="date_field" >To :</div>
      <%= format_date( @voucher.to_date ) %> 
    </div>
    <%end%>
    <div class = "payment_mode">
      <div class="payment_label">Payment Mode :</div>
      <%= @voucher.payment_type %>
      <div class="payment_label">Reference Number :</div>
      <%= @voucher.payment_reference %> 
    </div> 
    <% counter = 0 %>
    <%if @voucher.uploads.length > 0 %>
      <div class ="debitCredit">
        <div class="labels">Bill attachments
        </div>
        <% @voucher.uploads.each do |upload|  %> 
          <div><%= (counter += 1).to_s+". "%><%= link_to (upload.avatar_file_name) ,upload.avatar.url(:original)%></div>     
      
        <%end%>
      </div> 
    <%end%>
    <%if !@voucher.approved_by.nil?%>
      <div class="status_label">
        <div class ="approved_by">
          <div>
            <%= @voucher.approved.first_name  + " " + @voucher.approved.last_name %>
          </div>
          <div class="approved_label">
            <%= "Approved By" %>
          </div>
        </div>
      <%end%>
      <%if !@voucher.accepted_by.nil?%>
        <div class ="accepted_by">
          <div>
            <%= @voucher.accepted.first_name + " " + @voucher.accepted.last_name%>   
          </div>
          <div class="accepted_label">
            <%= "Accepted By" %>
          </div>
        </div>
      </div>
    <%end%>

   <div class="tags">
      Tags:<%=  raw @voucher.tag_list.map {|t| link_to t, tag_path(t),:class=>"taglist"}.join(',') %>
    </div>
    <div class ="payment">
      <div class="amount"><%= number_to_currency(@voucher.amount,:unit => "₹  ") %>
      </div>
    </div>
    <% if(!(@voucher.workflow_state == 'accepted' || @voucher.workflow_state == 'approved' || @voucher.assignee_id != current_user.id))%>
      <%=  render 'assign' %>
    <%end%>
    <%if @voucher.workflow_state == "new" %>
      <%= render 'assign' %>
    <%end%>
    <div class = "edit_voucher onprint">
      <% if((@voucher.current_state < :pending || @voucher.current_state == :rejected) && @voucher.creator_id == current_user.id )%>
        <%= link_to "Edit" ,edit_voucher_path(@voucher),:class=>'btn btn-primary'%> 
      <%end%>
    </div>
    <div class ="print_voucher">
      <%= link_to "Print" ,"javascript:print()",:class=>'btn btn-primary onprint'%> 
    </div>

    <%= render :template => 'comments/_comments', locals: {voucher: @voucher } %>

  </div>
  <%if(@voucher.workflow_state == 'approved' && @voucher.assignee_id == current_user.id)%>
    <div class ="final_state onprint">
      <%= link_to "Accept" , increment_state_voucher_path(id: @voucher),:class=>'btn btn-primary',method: :post%>
      <%= link_to "Reject" , decrement_state_voucher_path(id: @voucher), :class=>'btn btn-danger',method: :post%>
    </div>
  <%end%>
</div>